:root {
  ---one-purple-color: #d81e5b;
  ---one-balck-color: #231f20;
  ---one-white-grey-color: #f4faff;
  ---one-white-color: #ffffff;
  ---one-blue-color: #279af1;
  ---one-black-2-color: #2c2c38;
  ---one-black-dark-color: #000000;

  --font-size-300: 0.975rem;
  --font-size-400: 1.125rem;
  --font-size-500: 1.25rem;
  --font-size-600: 1.75rem;
  --font-size-700: 3rem;

  --space-1: 1rem;
  --space-1-5: 1.5rem;
  --space-2: 2rem;
  --space-3: 3rem;
  --space-4: 4rem;
}

/* Box-Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove Default Margin */
* {
  padding: 0;
  margin: 0;
  font-family: "DM Mono", monospace;
}

/* Set Core Root Defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: var(---one-black-2-color);
  display: grid;
  place-items: center;
}

/* PAGE TEMPLATES */
.main-page-template {
  display: grid;
}

.blog-page-template {
  display: grid;
}

.article-page-template {
  display: grid;
}

/* NAV */
.nav-container {
  display: grid;
}

/* BUTTON */
.button {
  padding: 0 30px;
  box-shadow: black 3px 3px 0 1px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid black;
  margin-bottom: 20px;
}

.button:not([disabled]):active {
  box-shadow: black 1px 1px 0 0;
  transform: translate(2px, 2px);
}

.button-white {
  background-color: var(---one-white-color);
  color: var(---one-black-dark-color);
}

.button-blue {
  background-color: var(---one-blue-color);
  font-size: var(--font-size-300);
  color: (---one-black-dark-color);
}

/* CARDS  */
.card-container {
  display: grid;
  gap: var(--space-1-5);
}

.card {
  text-decoration: none;
  color: black;
  border: black solid 4px;
  border-radius: 5px;
  box-shadow: black 3px 3px 0 1px;
}

.card-blue {
  background-color: var(---one-blue-color);
}

.card-purple {
  background-color: var(---one-purple-color);
}

.material-icons {
  color: black;
}
