:root{
  ---one-purple-color: #D81E5B;
  ---one-balck-color: #231F20;
  ---one-white-color: #F4FAFF;
  ---one-blue-color: #279AF1;

}

body {
  padding: 0;
  margin: 0;
  background-color: #231F20;
  font-family: "DM Mono", monospace;
  display: grid;
  place-items: center;
}

.cb {
  background-color: rgb(34, 130, 185);
  padding: 10px 40px;
  color: #fff;
  box-shadow: black 3px 3px 0 1px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid black;
  margin: 150px;
}

.cb:not([disabled]):active {
  box-shadow: black 1px 1px 0 0;
  transform: translate(2px, 2px);
}

.cb2 {
  background-color: #F4FAFF;
  padding: 0 30px;
  color: white;
  box-shadow: black 3px 3px 0 1px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid black;
  margin-left: 230px;
  margin-bottom: 20px;
}

.cb2:not([disabled]):active {
  box-shadow: black 1px 1px 0 0;
  transform: translate(2px, 2px);
}

.card2 {
  background: #D81E5B;
  text-decoration: none;
  color: black;
  border: black solid 4px;
  border-radius: 5px;
  flex-direction: column;
  box-shadow: black 3px 3px 0 1px;
  width: 50%;
  margin: 100px 200px;
}

.cb3 {
  background-color: #eaeadf;
  padding: 0 30px;
  color: white;
  box-shadow: black 3px 3px 0 1px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid black;
  margin-left: 230px;
  margin-bottom: 20px;
}

.cb3:not([disabled]):active {
  box-shadow: black 1px 1px 0 0;
  transform: translate(2px, 2px);
}

.card3 {
  background: var(---one-blue-color);
  text-decoration: none;
  color: black;
  border: black solid 4px;
  border-radius: 5px;
  flex-direction: column;
  box-shadow: black 3px 3px 0 1px;
  width: 50%;
  margin: 100px 200px;
}

.material-icons{
  color:black;
}